.smartitem1-box{
 height: 140px;
 width: 150px;
 float: left;
 margin: 5px;

}
.section1{
 position: absolute;
 top: 55%;
}
.cardBodyItems{
 height: 40vh;
 width: 100%;
}
#smartItem1-CardHW{
  height: 440px;
}
@media (min-width:450px) and (max-width:768px) {
 .col-sm-12{
  width: 30%;
 }
 #smartItem1-CardHW{
  margin-top: 10px;
  height: 400px;
 }
 .smartitem1-box{
  margin-left: 6.5vh;
 }
}
