.navigation{
 position: fixed;
 z-index: 1;
}
.navigationimg{
 height: 9vh;
 width: 45%;
 float: left;
 position: relative;
 top: .5vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.navigationaddress{
 height: 8vh;
 width: 50%;
 float: left;
 margin-left: 17px;
 position: relative;
 top: .5vh;
 border: 1px solid transparent;
}
.navigationaddress i{
 position: relative;
 top: 25px;
} 
.location-address{
 height:50px; 
 width:150px; 
 display:flex; 
 justify-content: center; 
 align-items: center; 
 flex-direction: column;
 margin-left: 5px;
 margin-top: 5px;
}
.address{
 height: 10px;
 width: 150px; 
 font-size: 12px; 
 color: rgb(207, 199, 199);
 
}
.addresss{
 height: 15px;
 width: 150px ;
 font-size: 12px; 
 font-weight: 800; 
 padding-right: 45px;
 margin-top: 4px;
}
.inputtag{
 height: 5vh;
 width: 100%;
 border-radius: 5px;
 background-color: rgb(96, 35, 35);
 border-radius: 5px;
 outline: none;
 overflow: hidden;
}
.navselect{
 height:100%;
 width:15%;
 font-size: 10px;
 text-align: center;
 outline: none;
 background-color:rgb(214, 212, 212)
}
.navright1{
 height: 8vh;
 width: 25%;
 margin-left: 1%;
 position: relative;
 top: .5vh;
 border: 1px solid transparent;
}
.cart{
 height: 40px;
}
.flag{
 height: 15px;
 width: 22px;
}
.navsign{
 height: 13px;
 font-size: 10px;
}

.navsigns{
 font-size: 15px;
 font-weight: 600;
}
.navigationaddress:hover{
 border: 1px solid white;
 cursor: pointer;
}
.navigationimg:hover{
 border: 1px solid white;
 border-radius: 2px;
}
.navright1:hover{
 border: 1px solid white;
}
.inputtag:hover{
 box-shadow: 0 0 0 5px rgb(234, 178, 23);
}
@media (min-width:450px) and (max-width:768px) {
 .navright1{
  position: relative;
 top: 0vh;
 }
 .navsigns{
  position: relative;
  bottom: 5px;
 }
 .location-address{
  position: relative;
  bottom: 8px;
 }
 .navigationaddress img{
  position: relative;
  bottom: 7px;
 }
 .sign-item{
  position: absolute;
  left: -19vh;
 }
}
.sign-item{
 height: 62vh;
 width: 70vh;
 position: absolute;
 right: -15vh;
 display: none;
 background-color: white;
 color: black;
 border-radius: 5px;
 box-shadow: 0 0 5px black;
}
.navright1:hover{
 .sign-item{
  display: block;
 }
 cursor: pointer;
}
.sign-item li:hover{
  text-decoration:underline;
  cursor: pointer;
  color: rgb(255, 204, 0);
}
.languages{
 height: 35vh;
 width: 30vh;
 background-color: white;
 position: absolute;
 top: 55px;
 left: 1px;
 display: none;
 border-radius: 5px;
 box-shadow: 0 0 5px black;
}
input[type=radio]{
 position: relative;
 right: 15px;
 cursor: pointer;
}
.languages li:hover{
 text-decoration: underline;
 color: rgb(255, 204, 0);
}
.navright1:hover{
 .languages{
  display: block;
 }
}

