.navigation-bottom{
 position: relative;
 top: 9vh;
 background-color: rgb(45, 49, 52);
}
.sidebar{
 height: 6vh;
 width: 6%;
 color: white;
 margin-left: 2px;
 font-size: 12px;
 font-weight: 600;
 display: flex;
 justify-content: center;
 align-items: center;

}
.checkbox{
 position: relative;
 top: 4px;
 left: 5px;
 display: none;
}
.humbarger{
 height: 6vh;
 width: 6%;
 display: none;
 position: relative;
 top: 4px;
 left: 5px;
}
.navigation-bottom-items{
 height: 6vh;
 width: 25%;
 color: white;
 margin-left: 2px;
 font-size: 12px;
 font-weight: 600;
 /* background-color: red; */
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid transparent;
}
.republic{
 height: 6vh;
 width: 25%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.navigation-bottom-items:hover{
 border:1px solid white;
 cursor: pointer;
}
@media (min-width:480px) and (max-width:768px) {
 .navigation-bottom{
  position: relative;
  top: 23vh;
 }
 .allitems .navigation-bottom-items{
  display: none;
 }
 .republic{
  width: 110%;
 }
 .sidebar{
  display: none;
 }
 .humbarger{
  display: block;
 }
 input[type=checkbox]:checked~.allitems .navigation-bottom-items{
  display: block;
 }
}
.sidebar:hover{
 border: 1px solid white;
 cursor: pointer;
}
.side-slider{
 width: 25%;
 background-color: white;
 color: black;
 position: absolute;
 z-index: 1;
 margin-bottom:50px ;
 display: none;
 height: 100vh;
 overflow-y: auto;
 position: fixed;
}
.signin{
 height: 5%;
 width: 100%;
 background-color: rgb(26, 49, 56);
 font-size: 20px;
 color: white;
 font-weight: 800;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 padding-left: 40px;
 position: relative;
}
.sidebar-item ul li{
 padding-top: 15px;
}
.sidebar-item ul i{
 color: rgb(224, 105, 105);
 font-size: 25px;
}
.sidebar-item ul li i:hover{
 color: black;
 cursor: pointer;
}
.sidebar-item ul li:hover{
 background-color: rgb(214, 212, 212);
 text-decoration: none;
}

.navigation-bottom button{
 height: 45px;
 border-radius: 5px;
 position: absolute;
 left: 25%;
 border: 0;
 display: none;
}
.navigation-bottom button:hover{
 background-color: rgb(203, 201, 201);
 opacity: 1;
 .side-slider{
  display: block;
 }
}
.navigation-bottom button i{
 font-size: 30px;
}
@media (min-width:480px) and (max-width:768px){
  .navigation-bottom{
    position: relative;
    top: 22vh;
  }
}