.mk p{
 margin-bottom: 5px;
}
 .COlor{
  background-color:rgb(59, 65, 71);
  cursor: pointer;
 }
 .COlor:hover{
  background-color:rgb(45, 49, 52);
 }
 @media (min-width:450px) and (max-width:576px) {
    .col-sm-6{
      width: 50%;
    }
 }