.img{
  margin-left: 130px;
}
.buttonSign{
  border: 1px solid rgba(187, 182, 182, 0.735);
  box-shadow: 0 0 5px gainsboro;
}
.buttonSign:hover{
  background-color: rgb(228, 226, 226);
}
li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.borders{
  border: 1px solid rgb(188, 186, 186);
}
.maincard{
  border: 0;
}